<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>
  <div class="grid-container">
    <div class="header"></div>
    <div class="left">
      <table>
        <tr>
          <th>MSSV</th>
          <th>Ho & Ten</th>
          <th>Lop</th>
          <th>Dia Chi</th>
          <th>Sua</th>
          <th>Xoa</th>
        </tr>
        <tr>
          <td>18036561</td>
          <td>Duong Hoang Anh</td>
          <td>DHHTTT14B</td>
          <td>Can Tho</td>
          <td><button>Sua</button></td>
          <td><button>Xoa</button></td>
        </tr>
      </table>
    </div>
    <div class="right">
      <form action="">
        <label for="">Ma So Sinh Vien</label><br>
        <input type="text"><br>
        <label for="">Ho va Ten</label><br>
        <input type="text"><br>
        <label for="">Lop</label><br>
        <input type="text"><br>
        <label for="">Dia Chi</label><br>
        <input type="text"><br>
        <input type="reset" value="Reset">
        <input type="submit" value="Dang">
      </form>
    </div>
  </div>
</body>

</html>